.carousel-wrapper {
  position: relative;
}

.carousel-wrapper .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 9999;
}

.carousel-image_overlay {
  max-height: 100vh;
}

.carousel-image_overlay img {
  min-height: 100vh;
  filter: brightness(0.5);
}

.mentorship-btn {
  background-color: rgba(49, 136, 74);
  box-shadow: 0px 3px 15px 1px rgba(246, 202, 80, 0.569);
  -webkit-box-shadow: 0px 3px 15px 1px rgba(246, 202, 80, 0.569);
  -moz-box-shadow: 0px 3px 15px 1px rgba(246, 202, 80, 0.569);
}

.carousel-caption {
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 600px) {

  .mentorship-btn {
    width: fit-content;
  }
}
