.core-values, .programs {
    transition: transform 350ms ease-out;
}

.core-values:hover {
    transform: scale(1.05);
}
.programs:hover {
    transform: scale(0.95);
}

.swiper-pagination-bullet-active {
    background: #e48d23e6 !important;
}

.swiper-wrapper {
    margin-block: 2rem 4rem !important;
}

.mini-gallery {
    filter: brightness(0.85);
    transition: filter 500ms;
}

.mini-gallery:hover {
    filter: brightness(1);
}

@media screen and (max-width: 600px) {
    .core-values {
        width: 55vw !important;
        margin-inline: auto;
    }
}

@media (min-width: 601px) and (max-width: 990px) {
    .core-values {
        width: 40vw !important;
    }
}

@media (min-width: 992px) {
    .core-value-col-width {
      width: 42% !important
    }
  }

  @media (min-width: 992px) {
    .about-col-width {
      width: 55% !important
    }
  }

@media screen and (max-width: 425px) {
    .gallery-image {
        width: 95vw !important;
        height: 20rem !important;
    }

    .h-sc {
        height: 50vh !important
    }

    .w-sc {
        width: 78vw !important;
    }
}

