@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;

}

.text-yellow {
  color: rgba(228, 141, 35, 0.9) !important;
}

.text-green {
  color: green;
}

.bg-yellow {
  background: linear-gradient(101deg, rgba(228,141,35,1) 0%, rgba(237,162,70,1) 65%, rgba(255,184,98,1) 100%);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.icon-grid div:last-child {
  grid-column-start: 2;
}

nav a {
  transition: all 250ms ease-in-out!important;
  color: white !important;
}

.dropdown-menu a, .dropdown-menu a:hover {
  color: black !important;
  transform: none;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.728) !important;
  transform: scaleY(1.05);
}

nav a:last-child {
  transform: none;
}

.css-919eu4, .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
 background-color: white !important;
}

.css-1qrom1v {
  backdrop-filter: blur(10px);
}

.programs-img-container {
  width: 19.5rem !important;
  height: 13rem;
  overflow: hidden;
}

.programs-img-container img {
  object-fit: contain !important;
}

@media screen and (min-width:1650px) {
  .event-img {
    width: 650px !important;
  }
}
@media screen and (max-width:699px) {
  .event-img {
    width: 320px !important;
  }

  .dropdown-menu {
    position: absolute !important;
  }
}
