@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;

}

.text-yellow {
  color: rgba(228, 141, 35, 0.9);
}

.bg-yellow {
  background: linear-gradient(101deg, rgba(228,141,35,1) 0%, rgba(237,162,70,1) 65%, rgba(255,184,98,1) 100%);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.icon-grid div:last-child {
  grid-column-start: 2;
}

nav a {
  transition: all 250ms ease-in-out!important;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.728) !important;
  transform: scaleY(1.25);
}

nav a:last-child {
  transform: none;
}

.css-16jr3vd{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
