@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,700&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif !important;
}

.text-yellow {
  color: rgba(228, 141, 35, 0.9) !important;
}

.text-green {
  color: green;
}

.bg-yellow {
  background: linear-gradient(
    101deg,
    rgba(228, 141, 35, 1) 0%,
    rgba(237, 162, 70, 1) 65%,
    rgba(255, 184, 98, 1) 100%
  );
}

.border-yellow {
  border: 1px solid rgba(228, 141, 35, 1) !important;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.icon-grid div:last-child {
  grid-column-start: 2;
}

nav a {
  transition: all 250ms ease-in-out !important;
  color: white !important;
}

.dropdown-menu {
  background-color: rgba(111, 111, 111, 0.423) !important;
  backdrop-filter: blur(5px);
}

.dropdown-menu a:hover {
  background-color: black !important;
}

.css-919eu4,
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: white !important;
}

.css-1qrom1v {
  backdrop-filter: blur(10px) !important;
}

.programs-img-container {
  width: 100% !important;
  aspect-ratio: 3/2;
  overflow: hidden;
}

.programs-img-container img {
  object-fit: contain !important;
}

@media screen and (min-width: 900px) {
  .my-w {
    width: 85%;
  }
}

@media screen and (min-width: 1080px) {
  .package-details-img-container {
    width: 50%;
    aspect-ratio: 5/3;
    overflow: hidden;
  }
}

@media screen and (max-width: 699px) {
  .dropdown-menu {
    position: absolute !important;
  }
}
